// variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-medium_color: rgb(114, 113, 113);
$dark-color: #040707;
$bg-image: url('../img/sunflowers.jpg');
$image-tagline: url('../img/dance.jpg');

// set text color
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}